@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root{
    --color-primary-light: #FAF4EA;
    --color-rimary-dark: #31261A;
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
}

/* body */
body{
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

address{
    font-style: normal;
}

ul{
    list-style-type: none;
}

/* button */
.button {
    color: var(--color-primary-light);
    font-weight: 600;
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-light);
    background-color: transparent;
}

/* link */
.link{
    color: var(--color-primary-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-light);
    font-weight: 600;
}


/* hero title */
.hero-title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* advantages list */
.advantages-list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
}

.advantages-item {
    font-style: 20px;
    font-weight: 300;
}

/* section title */
.sectoin-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.sectoin-title .accent {
    color: var(--color-brand-light);
}

.section-item {
    font-size: 24px;
    font-weight: 600;
}

.section-item-text {
    font-size: 14px;
    font-weight: 300;
}

/* traditions text */
.traditions-text .accent-light {
    color: var(--color-brand-light);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}

/* chefs */
.chef-title {
    font-size: 40px;
    font-weight: 600;
}

/* footer */
.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-light);
}

.address-copyright {
    font-size: 14px;
}