@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-secondary-light: #A18268;
    --color-brand-light: #CFCFBC;
    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
}

/* body */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

a {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* button */
.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-weight: 600;
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-normal);
    background-color: transparent;
}

/* link */
.link {
    color: var(--color-primary-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-normal);
    font-weight: 600;
}

/* header */
.container-header {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

/* hero title */
.hero-title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand-normal);
}

.hero-section{
    padding: 272px 0;
    background-image: url('./img/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/* advantages section */
.advantages-section{
    padding: 16px 0;
    background-color: var(--color-brand-normal);
}
.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: var(--color-primary-light);
}

.advantages-item {
    font-style: 20px;
    font-weight: 300;
}

/* formats title */
.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-normal);
}

.formats-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.format-card{
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
    border: 1px solid gray;
    border-radius: 16px;
}

.format-list{
    display: flex;
    gap: 20px;
}

.formate-item {
    font-size: 24px;
    font-weight: 600;
}

.section-item-text {
    font-size: 14px;
    font-weight: 300;
}

.formats-title {
    margin-bottom: 80px;
}

/* traditions text */
.tradiotions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.traditions-content {
    max-width: 710px;
}

.traditions-section{
    padding-top: 96px;
}

.traditions-title {
    margin-bottom: 42px;
}

.traditions-text {
    margin-bottom: 42px;
}

.traditions-text .accent-light {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}

.traditions-text.limited-width {
    max-width: 340px;
}

/* chefs */

.image-chef {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-light);
}

.chef-title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
    border-radius: 4px 4px 4px 200px;
}

.chefs-title  {
    max-width: 520px;
    margin: 0 auto 80px;
}

.chefs-title::before, .chefs-title::after {
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: '';
}

.chefs-list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0px;
}

/* carousel button */
.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    fill: var(--color-primary-dark);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}


/* contact */
.contact-section {
        padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

.contact-title {
    margin-bottom: 16px;
}

/* footer */

.footer {
    padding: 32px 0;
    background-color: var(--color-primary-dark);
    background-image: url('./img/footer-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav, .footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo, .footer-menu {
    flex-grow: 1;
}


.address-list, .address-text {
    flex-grow: 1;
}


.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.address-icon {
    fill: var(--color-primary-light);
    width: 32px;
    height: 32px;
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

.address-copyright {
    font-size: 14px;
}


