:root {
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-secondary-light: #A18268;
    --color-brand-light: #CFCFBC;
    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
}