.advantages-section {
    padding: 16px 0;
    background-color: var(--color-brand-normal);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: var(--color-primary-light);
}

.advantages-item {
    font-style: 20px;
    font-weight: 300;
}