.form-field {
    margin-bottom: 32px;
}

.form-label {
    display: block;

}

.form-input {
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-secondary-light);
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-brand-normal);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-secondary-light);
    font-size: 16px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    display: block;
    margin: 0 auto 24px;
}

.form-terms {
    margin: 0 auto;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    max-width: 214px;
    color: var(--color-primary-dark);
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}